@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #D92525;
    height: 100vh;
}
html{
    font-size: 10px;
}
.container{
    background-color: #D92525;
    height: 100vh;
    padding: 3rem 4rem;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1rem;
}
.nav-bar .menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-bar ul{
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    padding: 2rem 3rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}
.nav-bar .bottom{
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}
.nav-bar .menu:hover .bottom{
    width: 100%;
}
.main{
    max-width: 450px;
    margin: 3rem auto;
    padding: 2rem 3rem;
    border-radius: 0.7rem;
    background-color: #fff;
}
.header h1{
    font-size: 2rem;
    font-weight: 400;
}
.header p{
    font-size: 1.5rem;
    color: #474747;
    margin-top: 0.7rem;
}
.form input{
    width: 100%;
    padding: 2rem 2.5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    outline: none;
    border: 0.1rem solid #999;
    border-radius: 0.7rem;
}
.form button{
    width: 100%;
    padding: 2rem 2rem;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #D92525;
    color: #fff;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.main .qr-code{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 3rem;
}

@media screen and (max-width: 768px) {
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar .logo{
        font-size: 2rem;
    }
    .nav-bar ul li a{
        display: block;
        padding: 1.5rem 1.5rem;
        text-decoration: none;
        font-size: 1.7rem;
        color: #fff;
        font-weight: 500;
    }
    .main{
        padding: 1.5rem 2rem;
    }
    .header h1{
        font-size: 1.5rem;
    }
    .header p{
        font-size: 1.3rem;
        margin-top: 0.7rem;
    }
    .form input{
        width: 100%;
        padding: 1.5rem 2rem;
        margin-top: 1rem;
        font-size: 1.7rem;
        outline: none;
    }
    .form button{
        padding: 1.5rem 2rem;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}