/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 10px;
}
body, .container, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background: #49D907;
}
.container{
    width: 44rem;
    background: #fff;
    border-radius: 1rem;
    flex-direction: column;
    padding: 3rem 3rem 3.8rem;
}
.container img{
    max-width: 10.3rem;
}
.container h1{
    font-size: 3.8rem;
    font-weight: 500;
    margin: 3rem 0;
}
.container .content{
    width: 100%;
    justify-content: space-between;
}
.container .content.disable{
    opacity: 0.6;
    pointer-events: none;
}
.content .column{
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 0.1rem solid #999;
    width: calc(100% / 3 - 0.5rem);
}
.column select{
    outline: none;
    border: none;
    height: 5.3rem;
    width: 100%;
    font-size: 1.9rem;
    cursor: pointer;
}
.column select::-webkit-scrollbar{
    width: 0.6rem;
}
.column select::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0.5rem #999;
    border-radius: 0.6rem;
}
.column select::-webkit-scrollbar-thumb{
    background: #49D907;
    border-radius: 0.6rem;
}
.column select::-webkit-scrollbar-button{
    display: block;
    height: 0.6rem;
}
.container button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1.7rem 0;
    border-radius: 0.5rwm;
    background: rgb(73, 217, 7);
}
.container button:hover{
    background-color: rgb(73, 217, 7, 0.9);
}
@media only screen and (max-width: 576px){
    .container{
        width: 90%;
        border-radius: 0.8rem;
        padding: 2rem 2rem 2.8rem;
    }
    .container img{
        max-width: 8.3rem;
    }
    .container h1{
        font-size: 3.2rem;
        margin: 2.5rem 0;
    }
    .content .column{
        padding: 0 0.6rem;
    }
    .column select{
        height: 4.8rem;
        font-size: 1.6rem;
        background-color: #fff;
    }
    .column select::-webkit-scrollbar{
        width: 0.3rem;
    }
    .column select::-webkit-scrollbar-track{
        box-shadow: inset 0 0 0.3rem #999;
        border-radius: 0.3rem;
    }
    .column select::-webkit-scrollbar-thumb{
        border-radius: 0.3rem;
    }
    .column select::-webkit-scrollbar-button{
        height: 0.3rem;
    }
    .container button{
        font-size: 1.7rem;
        padding: 1.3rem 0;
    }
}
